@font-face {
font-family: 'Bank Gothic Light BT';
font-style: normal;
font-weight: normal;
src: local('Bank Gothic Light BT'), url('TT0589M_.woff') format('woff');
}

body {
	font-family: 'Raleway', sans-serif;
	color: #000;
}


/*.container a {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
}*/

.image {

	display: inline-block;
	width: 24%;
	/*height: 200px;*/
}

.image img{
		width: 100%;
}
.image figure
{
	margin: 10px;
}



#myNav a {
	position: relative;
	display: inline-block;
	margin: 10px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 0.8em;
}

#myNav a:hover,
#myNav a:focus {
	outline: none;
}


/* Effect 5: same word slide in and border bottom */
.cl-effect-6 a {
	margin: 0 10px;
	padding: 10px 20px;
}

.cl-effect-6 a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

.cl-effect-6 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
	top: 100%;
	opacity: 1;
}

.cl-effect-6 a:hover::after {
	height: 100%;
} 


/* Effect 14: border switch */
.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}


/* Effect 8: border slight translate */
.cl-effect-8 a {
	padding: 10px 20px;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #3b46df;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

.topocontainer {
    position: relative; /* Zapewnia, że tło zostanie poprawnie ustawione */
    width: 100%;
    /* height: 100vh; Możesz dostosować do pełnej wysokości zawartości */
    overflow: hidden; /* Ukrywa ewentualne przewinięcia */
}

#backgroundSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 170%;
    z-index: -1; /* Umieszcza SVG za treścią */
    object-fit: cover; /* Dostosowuje rozmiar SVG do ekranu */
}

/* topographic map css */

/* svg {
	display: block;
	width: 100%;
	height: auto;
	opacity: .4;
}

.topo-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
} */



.whiteglow {
	z-index: 20; position: relative;
	text-shadow: 1px 1px 0 #fff,
        -1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff,
        0px 1px 0 #fff,
        0px -1px 0 #fff,
        -1px 0px 0 #fff,
        1px 0px 0 #fff,
        2px 2px 0 #fff,
        -2px 2px 0 #fff,
        2px -2px 0 #fff,
        -2px -2px 0 #fff,
        0px 2px 0 #fff,
        0px -2px 0 #fff,
        -2px 0px 0 #fff,
        2px 0px 0 #fff,
        1px 2px 0 #fff,
        -1px 2px 0 #fff,
        1px -2px 0 #fff,
        -1px -2px 0 #fff,
        2px 1px 0 #fff,
        -2px 1px 0 #fff,
        2px -1px 0 #fff,
        -2px -1px 0 #fff,
        3px 3px 0 #fff,
        -3px 3px 0 #fff,
        3px -3px 0 #fff,
        -3px -3px 0 #fff,
        4px 4px 0 #fff,
        -4px 4px 0 #fff,
        4px -4px 0 #fff,
        -4px -4px 0 #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff,
		0px 0px 15px #fff;
}

.whiteglow li::before{
	text-shadow: none;
}

.altbtn:active,
.altbtn:hover,
.altbtn:focus {
  outline: 0!important;
  outline-offset: 0;
}

.altbtn::before,
.altbtn::after {
  position: absolute;
  content: "";
}

.altbtn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.altbtn {
  position: relative;
  display: inline-block;
  background-color: transparent;

  border-left: 2px solid #3b47df; /* Lewa krawędź */
  border-bottom: 2px solid #3b47df; /* Dolna krawędź */
  border-top: none; /* Brak górnej krawędzi */
  border-right: none; /* Brak prawej krawędzi */

	width: 100%;
	min-width: 170px;
  cursor: pointer;
  /* padding: 12px 20px; */
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 1px;
  /* margin-left: 10px; */
  margin-right: 10px;
  border-radius: 0; /* Kąty proste */
  /* overflow: hidden;  */
}

.altbtn::before {
  content: "";
  position: absolute;
  top: 100%; /* Tło zaczyna się poza przyciskiem */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3b47df;
  transition: top 0.3s ease-out; /* Animacja ruchu tła */
}

.altbtn span {
  position: relative;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  /* font-size: 14px; */
  /* font-weight: bold; */
  /* font-style: normal; */
  /* letter-spacing: 2px; */

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  /* font-size: 0.8em; */
  font-size: 15px;
  /* font-style: normal; */
  
  text-transform: uppercase;
  color: rgb(255, 255, 255); /* Tekst i ikona zawsze białe */
}

.altbtn span.mbri-mobile2 {
  margin-right: 5px; /* Odstęp między ikoną a tekstem */
  margin-left: 0px;
  font-size: 18px; /* Możesz zmienić rozmiar ikony */
}

.altbtn-1 span:hover {
  color: rgb(255, 255, 255); /* Napis i ikona pozostają białe */
}

/* 1.hover-filled-slide-down */
.altbtn.hover-filled-slide-down::before {
  top: 0%; /* Tło wychodzi na całą wysokość przycisku */
}

.altbtn.hover-filled-slide-down:hover::before {
  top: 100%; /* Tło chowa się z powrotem na hover */
}

/* .nav-link .mbri-bookmark {
    margin-left: 7px;
  }

  @media (min-width: 1025px) {
    .nav-link .mbri-bookmark {
      margin-left: 15px; 
    }
  }

  .nav-link .mbri-home {
    margin-left: 16px;
  }

  @media (min-width: 1025px) {
    .nav-link .mbri-home {
      margin-left: 15px; 
    }
  } */





  
  
